/* 标题 */
/* 边距 */
.HyperMD-header.HyperMD-header-1.cm-line,
.HyperMD-header.HyperMD-header-2.cm-line,
.HyperMD-header.HyperMD-header-3.cm-line,
.HyperMD-header.HyperMD-header-4.cm-line,
.HyperMD-header.HyperMD-header-5.cm-line,
.HyperMD-header.HyperMD-header-6.cm-line
{
	padding-top:.8em !important; 
	padding-bottom:.4em !important;
}

/* 字体 */
.HyperMD-header.HyperMD-header-1.cm-line,
.markdown-reading-view h1{
	font-size:40px !important;
	border-bottom:1px solid #4C4D4F;
}

.HyperMD-header.HyperMD-header-2.cm-line,
.markdown-reading-view h2{
	font-size:27px !important;
}

.HyperMD-header.HyperMD-header-3.cm-line,
.markdown-reading-view h3{
	font-size:25px !important;
}

.HyperMD-header.HyperMD-header-4.cm-line,
.markdown-reading-view h4{
	font-size:23px !important;
}

.HyperMD-header.HyperMD-header-5.cm-line,
.markdown-reading-view h5{
	font-size:21px !important;
}

.HyperMD-header.HyperMD-header-6.cm-line,
.markdown-reading-view h6{
	font-size:20px !important;
}

.token.comment{
	color:#6C6E72;
}

/* 首行缩进 */
p{
	text-indent: 1em;
}

